a, h1{
  color: #6D213C;
  font-family: 'Cambay', sans-serif;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.navBar{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    overflow: hidden;
    font-size: 17px;
}

.navBar li{
    display:inline;
}

.navBar a{
    display:inline-block;
    padding:10px;
    color: #6D213C;
    font-family: 'Cambay', sans-serif;
    text-decoration: none;
    
}
.navBar a:hover {
    opacity: 0.75;
    text-decoration: underline;
  }

 /* switches to mobile responsive */
@media screen and (max-width: 600px) {
  .nabBar a {
      float: none;
      display: block;
    }
  
.navBar a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    }
  }

  img.pic {
    float: left;
    width: 200px;
    height: 200px;
  }

  img, input, textarea, button{
    margin: 12px;
    border-radius: 12px;
  }

  /* Main Page */
  body {
    background-image: url("../images/bg.jpg");
    background-repeat: repeat;
    margin: auto;
    width: 60%;
    /* border: 3px solid #73AD21; */
    padding: 10px;
    font-family: 'Cambay', sans-serif;
    color: #6D213C;
  }

  input, textarea, button{
    border: none;
    outline: none;
    font-family: 'Cambay', sans-serif;
    color: #6D213C;
    font-size: 17px;
    padding: 4px;
    background-color: white;
    caret-color: #6D213C;
  }
  textarea{
    height: 100px;
    width: 300px;
  }

  button:hover{
    opacity: .75;
    text-decoration: underline;
  }

  #messageLabel{
    width: 300px;
  }